{% extends "network/layout.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% load static %}

{% block content %}
<div class="row mt-3" >
    <div class="col-md-4 col-xs-12">
    {% if profile.content_type %}
        <img class="card-img-top" style="width:100%; border:3px solid black;" src="{% url 'network:prof_picture' profile.id %}">
    {% else %}
        <img src="{% static 'network/img/IMG.jpg' %}" class="card-img-left"
                style="width:100%; border:3px solid black;" alt="Image">
    {% endif %}
    </div>
    <div class="col-md-8 col-xs-12">
        <div class="card-body">
            <h5 class="card-title">User Name: <strong>{{ profile.user }}</strong></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Full Name: {{ profile.full_name }}</li>
            <li class="list-group-item">Email: {{ profile.user.email }}</li>
            <li class="list-group-item">Location: {{ profile.location }}</li>
            <li class="list-group-item">Date of birth: {{ profile.birth_date }}</li>
            <li class="list-group-item">Followers: {{ profile.follow.count }}</li>
        </ul>
        <div class="card-body">
            {% if user == profile.user %}
            <a href="{% url 'network:edit_profile' profile.user.id %}" class="card-link">Edit Profile</a>
            {% else %}
            {% if ctx %}
                <a href="{% url 'network:follow' profile.user.id %}" class="btn btn-info" name="follow">Unfollow</a>
            {% else %}
                <a href="{% url 'network:follow' profile.user.id %}" class="btn btn-info" name="follow">Follow</a>
            {% endif %}
            {% endif %}
            
        </div>
    </div>
</div>

<div>
    <hr />
    <h5> <i class="fa fa-user-circle" aria-hidden="true"></i><strong> {{ profile.user }}&apos;s </strong> all posts.</h5>
    
    {% include "network/posts.html" %}
</div>
{% endblock %}
